// Define variables for your color scheme

// For example:
$red: rgba(250, 92, 100, 1);
$blue: rgba(34, 79, 109, 1);
$yellow: #FDB631;
$orange: #E67E22;
$green: rgba(80, 227, 194, 1);
$gray: #000000;
$light-gray: rgba(216, 216, 216, 0.3);
$white: rgba(255, 255, 255, 0.9);
