.banner {
  margin-top: 10px;
  color: white;
  height:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 200px 0px;
  background-position: center;
  box-shadow: 10px 10px 15px lightgrey;
}

.banner h1 {
  color: $green;
}

.banner-content {
  font-weight: bold;
  color: rgba(255,255,255, 0.85);
}

.banner-content p {
  margin-top: 10px;
  margin-bottom: 20px;
}

//FEATURES CARDS
.card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.features {
  margin-top: 60px;
}

.banner .btn-danger:hover {
  opacity: 0.7;
}

.fa-lock {
  font-size: 60px;
}

.fa-check-square-o {
  font-size: 60px;
}

.fa-heart {
  font-size: 60px;
}

.feature-red {
  background-color: $red;
  padding: 50px;
  width: 160px;
  height: 160px;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 50%;

}

.feature-blue {
  background-color: $blue;
  padding: 50px;
  width: 160px;
  height: 160px;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 50%;
}

.feature-green {
  background-color: $green;
  padding: 50px;
  width: 160px;
  height: 160px;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 50%;
}

.row {
  margin-bottom: 50px;
}
