body {
  background-image: asset-url('bg.jpg');
}

.container {
  background-color: $white;
}

.form-container {
  margin: 20px 5px;
  background-color: $white;
  border-radius: 5px;
  padding: 50px;
  // height: 100vh;
}

.fix-footer {
  min-height: calc(100vh - 170px);
}
