<% content_for :title, "Easy way to rent a baby | Babynb" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4"></div>

    <h1 class="text-center">The best place to book a Baby</h1>
    <p class="text-center">We have selected the strongest, cutest and cleanest babies from all around the world for you</p>

    <%= render "babies/card" %>
  </div>
</div>
