<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4"></div>

    <h1>The best place to book a Baby</h1>
    <p>We have selected the strongest, cutest and cleanest babies from all around the world for you</p>

    <%= render "babies/card" %>
  </div>
</div>
</div>
